#!/bin/bash

# Gcloud Active Project Get
if command -v gcloud &>/dev/null; then
  alias gcloudproj="gcloud config list --format 'value(core.project)' 2>/dev/null"
  gcloudmode(){
    if [ -z ${SHOW_CLOUD_PS1+x}  ]; then
      SHOW_CLOUD_PS1=1
    else
      unset SHOW_CLOUD_PS1
    fi
  }
fi

# cdg is used to cd to the root of a git directory (if you're in one)
cdg(){
  if [ "$(git rev-parse --is-inside-work-tree &>/dev/null; echo "${?}")" == '0' ]; then
	cd $(git rev-parse --git-dir)/..
  else
	echo "Run cdg in a git repository"
  fi
}
